<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
         <!-- <meta http-equiv="refresh" content="5" > -->
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <style>
            .bd-example {
                padding: 1.5rem;
                margin-right: 0;
                margin-left: 0;
                border-width: 0.2rem;
                border: solid #f8f9fa;
            }
            /* .form-control {
                width: 22%;
            } */
            .btn {
                margin-top: 14px;            
                } 
        </style>
        <script>
    function add(event){
   //document.getElementById("demo").innerHTML = "Hello World";
     return false;
     e.preventDefault();
  console.log("Function Working")
   }

        </script>
    </head>
    <body>
        <div class="bd-example">         
 <form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
     <!-- // <label for="validationTooltip01">Add User</label> -->
      <input type="text" class="form-control" id="validationTooltip01" placeholder=""  required>
      <div class="invalid-tooltip">
        Looks good!
      </div>
	  <button class="btn btn-primary" onClick="add()" type="submit">Add</button>
    </div>
    <div class="col-md-4 mb-3">
      <!-- <label for="validationTooltip02">Delete User</label> -->
      <input type="text" class="form-control" id="validationTooltip02" onClick="dele()" placeholder=""  required>
      <div class="invalid-tooltip">
        Looks good!
      </div>
      	  <button class="btn btn-primary" type="submit">Delete</button>
    </div>   
    </div>
  </div>
</form>
<div>{{firstname }}</div>
<div>{{lastname }}</div>
<div id="demo"></div>
            <!-- {{ name }} -->
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
